@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bg-color: #C4D7FF;
    --primary-color: #FFE1FF;
    --secondary-color: #E5D9F2;
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
}